@import "../../src/vars.css";


.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    z-index: 2;
    margin: 0 10%;
}

.logo{
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.title a{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text)
}

.Bars{
    font-size: 30px;
    display: none;
}

.menu{
    display: flex;
}

.menuItems{
    display: flex;
    gap:47px;
    list-style: none;
}

.menuItems li{
    cursor: pointer;
}

.menuItems a{
    font-size: 18px;
    color: var(--color-text);
    text-decoration: none;
}


.mobileMenu{
    height:50vh;
    width: 100%;
    display: none;
}

.mobileMenuItems{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobileMenuItems ul{
    list-style: none;
    height: 100%;
    display:  contents;    
}

.mobileMenuItems li {
    cursor: pointer;
}

.mobileMenuItems a{
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
}


@media screen and (max-width: 768px){
    .menu{
        display: none;
    }
    .Bars{
        display: block !important;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .mobileMenu{
        display: block;
        animation: slideIn 1s ease-in-out;
        position: absolute;
        z-index: 9;
        background-color: var(--color-bg);
    }
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

